{
  "openapi": "3.0.3",
  "info": {
    "title": "CakeAuth Backend API",
    "description": "OpenAPI documentation for interacting with CakeAuth Backend APIs",
    "version": "0.1.0",
    "contact": {
      "name": "CakeAuth team",
      "email": "team@cakeauth.com"
    },
    "license": {
      "name": "MIT",
      "url": "http://github.com/cakeauth/openapi/LICENSE"
    }
  },
  "security": [{ "PrivateKeyAuth": [] }],
  "servers": [
    {
      "url": "https://api.cakeauth.com",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Identifiers",
      "description": "An identifier is set of informations that being attached to a user that can be used as an authentication identity. Use this set of endpoints to manage user's identifers. Read more about [direct identifier](/docs/guides/direct/overview) and [social identifiers](/docs/guides/oauth/overview)."
    },
    {
      "name": "Sessions",
      "description": "A session is is a temporary state that keeps a user authenticated after they authenticate. Use this set of endpoints to manage sessions for users and its identifiers."
    },
    {
      "name": "Users",
      "description": "Use this set of endpoints to manage your user base. Learn more how you can manage users, [here](/docs/guides/manage-users)."
    }
  ],
  "paths": {
    "/v1/identifiers": {
      "get": {
        "tags": ["Identifiers"],
        "summary": "List identifiers",
        "description": "Retrieve a paginated list of identifiers filtered by user ID",
        "operationId": "getIdentifiers",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json "
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json "
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page",
            "example": 1,
            "required": false,
            "schema": {
              "type": "number",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Pagination data size",
            "example": 10,
            "required": false,
            "schema": {
              "type": "number",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "CakeAuth ID or user's defined external_id",
            "example": "0194f092-a25a-700d-a4f6-8b50e865fd00",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of identifiers",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/ApiResponseWrapper" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/GetIdentifiersResponseItem"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestErrorResponse" },
          "401": { "$ref": "#/components/responses/UnauthorizedErrorResponse" },
          "500": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "post": {
        "tags": ["Identifiers"],
        "description": "Use this endpoint to create a new user identifer",
        "summary": "Create a new user identifier",
        "operationId": "createIdentifier",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json "
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json "
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCreateIdentifierBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Identifier created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/ApiResponseWrapper" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PostCreateIdentifierResponseItem"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestErrorResponse" },
          "401": { "$ref": "#/components/responses/UnauthorizedErrorResponse" },
          "500": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/v1/identifiers/{identifier_id}": {
      "delete": {
        "tags": ["Identifiers"],
        "description": "Delete an identifier from a user.",
        "summary": "Delete an identifier",
        "operationId": "deleteIdentifier",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json "
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json "
            }
          },
          {
            "name": "identifier_id",
            "in": "path",
            "description": "ID of the target identifier",
            "example": "idn_a9d35175ea94b9367aa18237ca518d99",
            "required": true,
            "schema": {
              "type": "string",
              "format": "id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete identifier success response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/ApiResponseWrapper" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/DeleteIdentifierResponseItem"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestErrorResponse" },
          "401": { "$ref": "#/components/responses/UnauthorizedErrorResponse" },
          "500": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/v1/identifiers/{identifier_id}/set_password": {
      "post": {
        "tags": ["Identifiers"],
        "description": "Set a password to a specific identifier data. Only works with [direct identifier](/docs/guides/direct/overview).",
        "summary": "Set password to identifier",
        "operationId": "setIdentifierPassword",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json "
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json "
            }
          },
          {
            "name": "identifier_id",
            "in": "path",
            "description": "ID of the target identifier",
            "example": "idn_a9d35175ea94b9367aa18237ca518d99",
            "required": true,
            "schema": {
              "type": "string",
              "format": "id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostSetIdentifierPasswordBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password set to an identifier",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/ApiResponseWrapper" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PostSetIdentifierPasswordResponseItem"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestErrorResponse" },
          "401": { "$ref": "#/components/responses/UnauthorizedErrorResponse" },
          "500": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/v1/sessions": {
      "get": {
        "tags": ["Sessions"],
        "summary": "List sessions",
        "description": "Retrieve a paginated list of sessions filtered by user ID",
        "operationId": "getSessions",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json "
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json "
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page",
            "example": 1,
            "required": false,
            "schema": {
              "type": "number",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Pagination data size",
            "example": 10,
            "required": false,
            "schema": {
              "type": "number",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "CakeAuth ID or user's defined external_id",
            "example": "0194f092-a25a-700d-a4f6-8b50e865fd00",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of sessions",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/ApiResponseWrapper" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/GetSessionsResponseItem"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestErrorResponse" },
          "401": { "$ref": "#/components/responses/UnauthorizedErrorResponse" },
          "500": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "post": {
        "tags": ["Sessions"],
        "description": "Use this endpoint to create a new session for a user/identifiers",
        "summary": "Create new session",
        "operationId": "postCreateSession",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json "
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json "
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCreateSessionBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/ApiResponseWrapper" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PostCreateSessionResponseItem"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestErrorResponse" },
          "401": { "$ref": "#/components/responses/UnauthorizedErrorResponse" },
          "500": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/v1/sessions/{session_id}/tokens": {
      "post": {
        "tags": ["Sessions"],
        "description": "Refresh access token for a specific session. Learn more about sessions refresh mechanism, [here](/docs/concepts/how-it-works/token-refresh).",
        "summary": "Refresh access token",
        "operationId": "postRefreshSessionToken",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json "
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json "
            }
          },
          {
            "name": "session_id",
            "in": "path",
            "description": "ID of the target session",
            "example": "ses_a9d35175ea94b9367aa18237ca518d99",
            "required": true,
            "schema": {
              "type": "string",
              "format": "id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EmptyObject" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token refreshed",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/ApiResponseWrapper" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PostRefreshSessionTokenResponseItem"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestErrorResponse" },
          "401": { "$ref": "#/components/responses/UnauthorizedErrorResponse" },
          "500": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/v1/sessions/{session_id}/revoke": {
      "post": {
        "tags": ["Sessions"],
        "description": "Revoke a specific session. The session's `status` will be changed to `revoked` and session is not valid and cannot be refreshed and/or used anymore.",
        "summary": "Revoke access token",
        "operationId": "postRevokeSession",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json "
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json "
            }
          },
          {
            "name": "session_id",
            "in": "path",
            "description": "ID of the target session",
            "example": "ses_a9d35175ea94b9367aa18237ca518d99",
            "required": true,
            "schema": {
              "type": "string",
              "format": "id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EmptyObject" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session's revoked",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/ApiResponseWrapper" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PostRevokeSessionResponseItem"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestErrorResponse" },
          "401": { "$ref": "#/components/responses/UnauthorizedErrorResponse" },
          "500": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/v1/users": {
      "get": {
        "tags": ["Users"],
        "summary": "List users",
        "description": "Retrieve a paginated list of users in the current environment",
        "operationId": "getUsers",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json "
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json "
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page",
            "example": 1,
            "required": false,
            "schema": {
              "type": "number",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Pagination data size",
            "example": 10,
            "required": false,
            "schema": {
              "type": "number",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Free-text search values to filter users. Currently limited to search based off of the user's `id` and `external_id`.",
            "example": "some-search-value",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Comma-separated filter. Accepts the [user's `status` types](#/reference/model/clientusersstatus)",
            "example": "active,banned",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of users",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/ApiResponseWrapper" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/GetUsersResponseItem"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestErrorResponse" },
          "401": { "$ref": "#/components/responses/UnauthorizedErrorResponse" },
          "500": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "post": {
        "tags": ["Users"],
        "description": "Use this endpoint to create a new user data (optionally along with its identifier).",
        "summary": "Create a new user",
        "operationId": "postCreateUser",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json "
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json "
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCreateUserBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/ApiResponseWrapper" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PostCreateUserResponseItem"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestErrorResponse" },
          "401": { "$ref": "#/components/responses/UnauthorizedErrorResponse" },
          "500": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/v1/users/{user_id}": {
      "get": {
        "tags": ["Users"],
        "description": "Get a details of a user's data",
        "summary": "Get user's details",
        "operationId": "getUserDetail",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json "
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json "
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "ID of the target users or value user's defined External ID",
            "example": "019507c6-86a1-7110-a3da-cf1c9b473e74",
            "required": true,
            "schema": {
              "type": "string",
              "format": "id",
              "maximum": 64
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User's data found and returned succesfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/ApiResponseWrapper" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/GetUserDetailsResponseItem"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestErrorResponse" },
          "401": { "$ref": "#/components/responses/UnauthorizedErrorResponse" },
          "500": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "delete": {
        "tags": ["Users"],
        "description": "Delete a user in an environment.",
        "summary": "Delete a user",
        "operationId": "deleteUser",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json "
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json "
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "ID of the target users or value user's defined External ID",
            "example": "019507c6-86a1-7110-a3da-cf1c9b473e74",
            "required": true,
            "schema": {
              "type": "string",
              "format": "id",
              "maximum": 64
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete identifier success response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/ApiResponseWrapper" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/DeleteUserResponseItem"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestErrorResponse" },
          "401": { "$ref": "#/components/responses/UnauthorizedErrorResponse" },
          "500": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/v1/users/{user_id}/ban": {
      "post": {
        "tags": ["Users"],
        "description": "Ban a user. By banning a user, all of the existing sessions will be revoked and user's cannot be issued a token or do any activities (eg. signing in, signing up, reset password, etc).",
        "summary": "Ban a user",
        "operationId": "postBanUser",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json "
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json "
            }
          },

          {
            "name": "user_id",
            "in": "path",
            "description": "ID of the target users or value user's defined External ID",
            "example": "019507c6-86a1-7110-a3da-cf1c9b473e74",
            "required": true,
            "schema": {
              "type": "string",
              "format": "id",
              "maximum": 64
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EmptyObject" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User's banned succesfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/ApiResponseWrapper" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PostBanUserResponseItem"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestErrorResponse" },
          "401": { "$ref": "#/components/responses/UnauthorizedErrorResponse" },
          "500": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/v1/users/{user_id}/unban": {
      "post": {
        "tags": ["Users"],
        "description": "Un-ban a user. By un-bannng a user, user's will be able to interact with your applications and can be issued a token and can do any activities (eg. signing in, signing up, reset password, etc).",
        "summary": "Un-ban a user",
        "operationId": "postUnbanUser",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json "
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json "
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "ID of the target users or value user's defined External ID",
            "example": "019507c6-86a1-7110-a3da-cf1c9b473e74",
            "required": true,
            "schema": {
              "type": "string",
              "format": "id",
              "maximum": 64
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EmptyObject" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User's banned succesfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/ApiResponseWrapper" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PostUnbanUserResponseItem"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestErrorResponse" },
          "401": { "$ref": "#/components/responses/UnauthorizedErrorResponse" },
          "500": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Status": { "type": "number", "example": 201 },
      "Metadata": {
        "type": "object",
        "required": ["timestamp", "request_id"],
        "properties": {
          "timestamp": { "type": "number", "example": 1707580800000 },
          "request_id": {
            "type": "string",
            "format": "uuid",
            "example": "req_a9d35175ea94b9367aa18237ca518d99"
          },
          "page": { "type": "number", "nullable": true },
          "page_size": { "type": "number", "nullable": true },
          "total": { "type": "number", "nullable": true }
        }
      },
      "Error": {
        "type": "object",
        "nullable": true,
        "properties": {
          "url": {
            "type": "string",
            "example": "https://docs.cakeauth.com/docs/references/errors#not_found"
          },
          "code": { "type": "string", "example": "not_found" },
          "message": { "type": "string", "example": "Resources not found" }
        }
      },
      "ApiResponseWrapper": {
        "type": "object",
        "required": ["status", "metadata", "error", "data"],
        "properties": {
          "status": { "$ref": "#/components/schemas/Status" },
          "metadata": { "$ref": "#/components/schemas/Metadata" },
          "error": { "type": "null" },
          "data": { "type": "object", "nullable": true }
        }
      },
      "SessionActivityMetadata": {
        "type": "object",
        "properties": {
          "is_mobile": {
            "type": "boolean",
            "nullable": true
          },
          "user_agent": {
            "type": "string",
            "nullable": true
          },
          "browser_name": {
            "type": "string",
            "nullable": true
          },
          "browser_version": {
            "type": "string",
            "nullable": true
          },
          "device_type": {
            "type": "string",
            "nullable": true
          },
          "ip": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "EmptyObject": {
        "type": "object",
        "properties": {}
      },
      "CommonTokenResponseItem": {
        "type": "object",
        "required": ["name", "value", "expires_at", "domain"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the [cookie](/docs/concepts/how-it-works/cookies#how-cakeauth-uses-cookies).",
            "example": "__Secure-session.ses_a9d35175ea94b9367aa18237ca518d99"
          },
          "value": {
            "type": "string",
            "description": "[JWT Token](/docs/concepts/how-it-works/token-refresh#token-format)",
            "example": "xxx.yyy.zzz"
          },
          "expires_at": {
            "type": "integer",
            "description": "UNIX Timestamp of date expired",
            "format": "unixtime",
            "example": 1739201710547
          },
          "domain": {
            "type": "string",
            "description": "Target domain this tokens issued to",
            "example": "https://example.com"
          }
        }
      },
      "SessionActivityLogItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "session_id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "user_id": {
            "type": "string",
            "nullable": true
          },
          "member_id": {
            "type": "string",
            "nullable": true
          },
          "identifier_id": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "$ref": "#/components/schemas/SessionActivityMetadata",
            "nullable": true
          }
        },
        "required": ["id", "session_id", "type"]
      },
      "TenantOrganizationStatus": {
        "type": "string",
        "enum": ["active", "inactive"]
      },
      "TenantMembersProvider": {
        "type": "string",
        "enum": ["github", "google", "email"]
      },
      "TenantMembersStatus": {
        "type": "string",
        "enum": ["active", "inactive", "banned", "pending"]
      },
      "AccessClientUsersAttemptsType": {
        "type": "string",
        "enum": ["signin", "signup", "password_reset", "handshake"]
      },
      "AccessClientUsersAttemptsStatus": {
        "type": "string",
        "enum": ["active", "used", "revoked"]
      },
      "AccessTenantMembersAttemptsType": {
        "type": "string",
        "enum": ["password_reset", "signup"]
      },
      "AccessTenantMembersAttemptsStatus": {
        "type": "string",
        "enum": ["active", "used", "revoked"]
      },
      "TenantProjectsStatus": {
        "type": "string",
        "enum": ["active", "inactive"]
      },
      "TenantKeysType": {
        "type": "string",
        "enum": ["public", "private"]
      },
      "AccessTenantMembersSessionsStatus": {
        "type": "string",
        "enum": ["active", "expired", "replaced", "revoked"]
      },
      "ClientUsersStatus": {
        "type": "string",
        "enum": ["active", "banned", "invited"]
      },
      "ClientUsersIdentifiersProvider": {
        "type": "string",
        "enum": [
          "email",
          "username",
          "phone",
          "google",
          "facebook",
          "apple",
          "github",
          "microsoft",
          "linkedin",
          "dropbox",
          "twitch",
          "discord",
          "tiktok",
          "gitlab",
          "slack"
        ]
      },
      "ClientUsersIdentifierContactInformationsType": {
        "type": "string",
        "enum": ["email", "phone"]
      },
      "AccessClientUsersSessionsStatus": {
        "type": "string",
        "enum": ["active", "expired", "replaced", "revoked", "timeout"]
      },
      "SettingsTenantEnvironmentsTimeUnit": {
        "type": "string",
        "enum": ["day", "hour", "minute", "second"]
      },
      "SettingsTenantEnvironmentsCaptchaType": {
        "type": "string",
        "enum": ["turnstile", "recaptcha"]
      },
      "SettingsTenantContactInformationsProvider": {
        "type": "string",
        "enum": ["email", "phone", "username", "provider_id"]
      },
      "SettingsTenantAuthenticationStrategiesProvider": {
        "type": "string",
        "enum": [
          "email",
          "phone_sms",
          "phone_call",
          "phone_whatsapp",
          "username",
          "username_email",
          "username_sms",
          "username_whatsapp"
        ]
      },
      "SettingsTenantAuthenticationStrategiesMethod": {
        "type": "string",
        "enum": ["password", "code", "magic_link"]
      },
      "SettingsTenantIdentifiersProvider": {
        "type": "string",
        "enum": [
          "email",
          "username",
          "phone",
          "google",
          "facebook",
          "apple",
          "github",
          "microsoft",
          "linkedin",
          "dropbox",
          "twitch",
          "discord",
          "tiktok",
          "gitlab",
          "slack"
        ]
      },
      "GetIdentifiersResponseItem": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Random unique ID",
            "format": "nanoid",
            "example": "idn_a9d35175ea94b9367aa18237ca518d99"
          },
          "provider": {
            "$ref": "#/components/schemas/ClientUsersIdentifierContactInformationsType"
          },
          "logo": {
            "type": "string",
            "format": "link",
            "description": "Link to provider logo",
            "example": "https://cdn.cakeauth.com/socials/apple.svg"
          },
          "value": {
            "type": "string",
            "description": "Value of given provider",
            "example": "test@example.com"
          },
          "is_password_enabled": {
            "type": "boolean",
            "description": "Indicate whether this provider has a password value or not"
          },
          "is_verified": {
            "type": "boolean",
            "description": "Indicate whether this provider is verified or not"
          },
          "contact_informations": {
            "type": "array",
            "description": "List of contact informations related to this provider",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Random unique ID",
                  "format": "nanoid",
                  "example": "idn_a9d35175ea94b9367aa18237ca518d99"
                },
                "type": {
                  "description": "Contact information type",
                  "$ref": "#/components/schemas/ClientUsersIdentifierContactInformationsType"
                },
                "value": {
                  "type": "string",
                  "description": "Value of given contact information",
                  "example": "test@example.com"
                },
                "is_verified": {
                  "type": "boolean",
                  "description": "Indicate whether this contact information is verified or not"
                }
              }
            }
          },
          "updated_at": {
            "type": "integer",
            "description": "UNIX Timestamp of date last updated",
            "format": "unixtime",
            "example": 1739201710547
          },
          "created_at": {
            "type": "integer",
            "description": "UNIX Timestamp of date created",
            "format": "unixtime",
            "example": 1739201710547
          }
        },
        "required": [
          "id",
          "provider",
          "logo",
          "value",
          "is_password_enabled",
          "is_verified",
          "contact_informations",
          "updated_at",
          "created_at"
        ]
      },
      "PostCreateIdentifierBody": {
        "type": "object",
        "required": ["user_id", "provider", "value"],
        "properties": {
          "user_id": {
            "type": "string",
            "description": "CakeAuth ID or user's defined external_id",
            "example": "0194f092-a25a-700d-a4f6-8b50e865fd00"
          },
          "provider": {
            "description": "Type of provider",
            "$ref": "#/components/schemas/ClientUsersIdentifiersProvider"
          },
          "value": {
            "type": "string",
            "description": "Value of given provider",
            "example": "test@example.com"
          },
          "password": {
            "type": "string",
            "minLength": 8,
            "format": "password",
            "description": "Assign password for this provider. If this value is not empty, the `is_password_enabled` will result to `true`. And vice versa.",
            "example": "my-secure-password"
          },
          "is_verified": {
            "type": "boolean",
            "description": "Control whether this provider is verified or not"
          },
          "contact_informations": {
            "type": "array",
            "description": "List of contact informations related to this provider",
            "items": {
              "type": "object",
              "required": ["type", "value"],
              "properties": {
                "type": {
                  "description": "Contact information type",
                  "$ref": "#/components/schemas/ClientUsersIdentifierContactInformationsType"
                },
                "is_verified": {
                  "type": "boolean",
                  "description": "Control whether this contact information is verified or not"
                },
                "value": {
                  "type": "string",
                  "description": "Value of given contact information",
                  "example": "test@example.com"
                }
              }
            }
          }
        }
      },
      "PostCreateIdentifierResponseItem": {
        "type": "object",
        "required": [
          "id",
          "provider",
          "value",
          "is_password_enabled",
          "is_verified",
          "updated_at",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Random unique ID",
            "format": "nanoid",
            "example": "idn_a9d35175ea94b9367aa18237ca518d99"
          },
          "provider": {
            "description": "Type of provider",
            "$ref": "#/components/schemas/ClientUsersIdentifiersProvider"
          },
          "logo": {
            "type": "string",
            "description": "Link to provider logo",
            "example": "https://cdn.cakeauth.com/socials/apple.svg"
          },
          "value": {
            "type": "string",
            "description": "Value of given provider",
            "example": "test@example.com"
          },
          "is_password_enabled": {
            "type": "boolean",
            "description": "Indicate whether this provider has a password value or not"
          },
          "is_verified": {
            "type": "boolean",
            "description": "Indicate whether this provider is verified or not"
          },
          "contact_informations": {
            "type": "array",
            "description": "List of contact informations related to this provider",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Random unique ID",
                  "format": "nanoid",
                  "example": "idn_a9d35175ea94b9367aa18237ca518d99"
                },
                "type": {
                  "description": "Contact information type",
                  "$ref": "#/components/schemas/ClientUsersIdentifierContactInformationsType"
                },
                "value": {
                  "type": "string",
                  "description": "Value of given contact information",
                  "example": "test@example.com"
                },
                "is_verified": {
                  "type": "boolean",
                  "description": "Indicate whether this contact information is verified or not"
                }
              }
            }
          },
          "updated_at": {
            "type": "integer",
            "description": "UNIX Timestamp of date last updated",
            "format": "unixtime",
            "example": 1739201710547
          },
          "created_at": {
            "type": "integer",
            "description": "UNIX Timestamp of date created",
            "format": "unixtime",
            "example": 1739201710547
          }
        }
      },
      "PostSetIdentifierPasswordBody": {
        "type": "object",
        "required": ["new_password"],
        "properties": {
          "new_password": {
            "type": "string",
            "minLength": 8,
            "format": "password",
            "description": "New password that wants to be set",
            "example": "my-secure-password"
          },
          "force_set": {
            "type": "boolean",
            "description": "This flags control whether password will be set to an identifier which previously has no password data (`is_password_enabled=false`). If this API was called to an identifier identifier with no previous password available and flag is **not** `true`, it will throws the [`invalid_payload`](/docs/references/errors#invalid_payload) error."
          }
        }
      },
      "PostSetIdentifierPasswordResponseItem": {
        "type": "object",
        "required": ["message"],
        "properties": {
          "message": {
            "type": "string",
            "description": "Success response message",
            "example": "Password successfully updated"
          }
        }
      },
      "DeleteIdentifierResponseItem": {
        "type": "object",
        "required": ["message"],
        "properties": {
          "message": {
            "type": "string",
            "description": "Success response message",
            "example": "Identifier successfully deleted"
          }
        }
      },
      "GetSessionsResponseItem": {
        "type": "object",
        "required": [
          "id",
          "user",
          "status",
          "identifiers",
          "updated_at",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Random unique ID",
            "format": "nanoid",
            "example": "ses_a9d35175ea94b9367aa18237ca518d99"
          },
          "user": {
            "type": "object",
            "description": "User data of the current session",
            "properties": {
              "id": {
                "type": "string",
                "description": "Random unique ID",
                "format": "nanoid",
                "example": "idn_a9d35175ea94b9367aa18237ca518d99"
              },
              "external_id": {
                "type": "string",
                "description": "Tenant's defined unique ID",
                "format": "string",
                "example": "0194f092-a25a-700d-a4f6-8b50e865fd00",
                "minimum": 1,
                "maximum": 64
              }
            }
          },
          "status": {
            "description": "Sesison status",
            "$ref": "#/components/schemas/AccessClientUsersSessionsStatus"
          },
          "metadata": {
            "description": "Session's metadata",
            "$ref": "#/components/schemas/SessionActivityMetadata"
          },
          "identifiers": {
            "type": "array",
            "description": "List of identifiers of current user's identifiers",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Random unique ID",
                  "format": "nanoid",
                  "example": "idn_a9d35175ea94b9367aa18237ca518d99"
                },
                "provider": {
                  "description": "Current identifier's provider",
                  "$ref": "#/components/schemas/ClientUsersIdentifiersProvider"
                },
                "logo": {
                  "type": "string",
                  "format": "link",
                  "description": "Link to provider logo",
                  "example": "https://cdn.cakeauth.com/socials/apple.svg"
                },
                "value": {
                  "type": "string",
                  "description": "Identifier value (e.g., email or phone number)",
                  "example": "test@example.com"
                },
                "is_current": {
                  "type": "boolean",
                  "description": "Whether this identifier is the currently active one (used in the current session data)"
                },
                "is_password_enabled": {
                  "type": "boolean",
                  "description": "Whether a password is enabled for this identifier"
                },
                "is_verified": {
                  "type": "boolean",
                  "description": "Whether this identifier has been verified"
                },
                "contact_informations": {
                  "type": "array",
                  "description": "List of associated contact information",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Random unique ID for contact information",
                        "example": "idn_a9d35175ea94b9367aa18237ca518d99"
                      },
                      "type": {
                        "description": "Type of contact information",
                        "$ref": "#/components/schemas/ClientUsersIdentifierContactInformationsType"
                      },
                      "value": {
                        "type": "string",
                        "description": "Contact information value (e.g., email address, phone number)",
                        "example": "test@example.com"
                      },
                      "is_verified": {
                        "type": "boolean",
                        "description": "Whether the contact information has been verified"
                      }
                    },
                    "required": ["id", "type", "value", "is_verified"]
                  }
                },
                "updated_at": {
                  "type": "integer",
                  "description": "UNIX Timestamp of date last updated",
                  "format": "int64",
                  "example": 1739201710547
                },
                "created_at": {
                  "type": "integer",
                  "description": "UNIX Timestamp of date created",
                  "format": "int64",
                  "example": 1739201710547
                }
              },
              "required": [
                "id",
                "provider",
                "logo",
                "value",
                "is_current",
                "is_password_enabled",
                "is_verified",
                "contact_informations",
                "updated_at",
                "created_at"
              ]
            }
          },

          "expires_at": {
            "type": "integer",
            "description": "UNIX Timestamp of date expired",
            "format": "unixtime",
            "example": 1739201710547
          },
          "revoked_at": {
            "type": "integer",
            "description": "UNIX Timestamp of date revoked",
            "format": "unixtime",
            "example": 1739201710547
          },
          "updated_at": {
            "type": "integer",
            "description": "UNIX Timestamp of date last updated",
            "format": "unixtime",
            "example": 1739201710547
          },
          "created_at": {
            "type": "integer",
            "description": "UNIX Timestamp of date created",
            "format": "unixtime",
            "example": 1739201710547
          }
        }
      },
      "PostCreateSessionBody": {
        "type": "object",
        "required": ["issue_tokens"],
        "properties": {
          "user_id": {
            "type": "string",
            "description": "CakeAuth ID or user's defined external_id",
            "example": "0194f092-a25a-700d-a4f6-8b50e865fd00"
          },
          "identifier_id": {
            "type": "string",
            "description": "Identifier ID. Supporting the `user_id` property.",
            "example": "idn_a9d35175ea94b9367aa18237ca518d99"
          },
          "issue_tokens": {
            "type": "boolean",
            "description": "This flags control whether to generate [session-access tokens pair](/docs/concepts/how-it-works/token-refresh#access-token)."
          },
          "token_metadata": {
            "type": "object",
            "description": "Optional explicit metadata for the tokens",
            "properties": {
              "origin": {
                "type": "string",
                "description": "Where the request comes from and where it issued to",
                "example": "https://example.com"
              }
            }
          }
        }
      },
      "PostCreateSessionResponseItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GetSessionsResponseItem"
          },
          {
            "type": "object",
            "properties": {
              "token": {
                "$ref": "#/components/schemas/CommonTokenResponseItem"
              },
              "refresh_token": {
                "$ref": "#/components/schemas/CommonTokenResponseItem"
              }
            }
          }
        ]
      },
      "PostRefreshSessionTokenResponseItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GetSessionsResponseItem"
          },
          {
            "type": "object",
            "properties": {
              "token": {
                "$ref": "#/components/schemas/CommonTokenResponseItem"
              }
            }
          }
        ]
      },
      "PostRevokeSessionResponseItem": {
        "$ref": "#/components/schemas/GetSessionsResponseItem"
      },
      "GetUsersResponseItem": {
        "type": "object",
        "required": [
          "id",
          "external_id",
          "status",
          "identifiers",
          "updated_at",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Random unique ID",
            "format": "nanoid",
            "example": "idn_a9d35175ea94b9367aa18237ca518d99"
          },
          "external_id": {
            "type": "string",
            "description": "Tenant's defined unique ID",
            "format": "string",
            "example": "0194f092-a25a-700d-a4f6-8b50e865fd00",
            "minimum": 1,
            "maximum": 64
          },
          "status": {
            "description": "User status",
            "$ref": "#/components/schemas/ClientUsersStatus"
          },
          "identifiers": {
            "type": "array",
            "description": "List of current user's identifiers",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Random unique ID",
                  "format": "nanoid",
                  "example": "idn_a9d35175ea94b9367aa18237ca518d99"
                },
                "provider": {
                  "description": "Current identifier's provider",
                  "$ref": "#/components/schemas/ClientUsersIdentifiersProvider"
                },
                "logo": {
                  "type": "string",
                  "format": "link",
                  "description": "Link to provider logo",
                  "example": "https://cdn.cakeauth.com/socials/apple.svg"
                },
                "value": {
                  "type": "string",
                  "description": "Identifier value (e.g., email or phone number)",
                  "example": "test@example.com"
                },
                "is_current": {
                  "type": "boolean",
                  "description": "Whether this identifier is the currently active one (used in the current session data)"
                },
                "is_password_enabled": {
                  "type": "boolean",
                  "description": "Whether a password is enabled for this identifier"
                },
                "is_verified": {
                  "type": "boolean",
                  "description": "Whether this identifier has been verified"
                },
                "contact_informations": {
                  "type": "array",
                  "description": "List of associated contact information",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Random unique ID for contact information",
                        "example": "idn_a9d35175ea94b9367aa18237ca518d99"
                      },
                      "type": {
                        "description": "Type of contact information",
                        "$ref": "#/components/schemas/ClientUsersIdentifierContactInformationsType"
                      },
                      "value": {
                        "type": "string",
                        "description": "Contact information value (e.g., email address, phone number)",
                        "example": "test@example.com"
                      },
                      "is_verified": {
                        "type": "boolean",
                        "description": "Whether the contact information has been verified"
                      }
                    },
                    "required": ["id", "type", "value", "is_verified"]
                  }
                },
                "updated_at": {
                  "type": "integer",
                  "description": "UNIX Timestamp of date last updated",
                  "format": "int64",
                  "example": 1739201710547
                },
                "created_at": {
                  "type": "integer",
                  "description": "UNIX Timestamp of date created",
                  "format": "int64",
                  "example": 1739201710547
                }
              },
              "required": [
                "id",
                "provider",
                "logo",
                "value",
                "is_current",
                "is_password_enabled",
                "is_verified",
                "contact_informations",
                "updated_at",
                "created_at"
              ]
            }
          },
          "updated_at": {
            "type": "integer",
            "description": "UNIX Timestamp of date last updated",
            "format": "unixtime",
            "example": 1739201710547
          },
          "created_at": {
            "type": "integer",
            "description": "UNIX Timestamp of date created",
            "format": "unixtime",
            "example": 1739201710547
          }
        }
      },
      "PostCreateUserBody": {
        "type": "object",
        "required": ["external_id", "identifiers"],
        "properties": {
          "external_id": {
            "type": "string",
            "description": "Random ID that uniqely identified a user in an environment",
            "example": "0194f092-a25a-700d-a4f6-8b50e865fd00",
            "maxLength": 64
          },
          "identifiers": {
            "type": "array",
            "description": "List of current user's identifiers",
            "items": {
              "type": "object",
              "properties": {
                "provider": {
                  "description": "Current identifier's provider",
                  "$ref": "#/components/schemas/ClientUsersIdentifiersProvider"
                },
                "value": {
                  "type": "string",
                  "description": "Identifier value (e.g., email or phone number)",
                  "example": "test@example.com"
                },
                "is_verified": {
                  "type": "boolean",
                  "description": "Whether this identifier has been verified"
                },
                "contact_informations": {
                  "type": "array",
                  "description": "List of associated contact information",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "description": "Type of contact information",
                        "$ref": "#/components/schemas/ClientUsersIdentifierContactInformationsType"
                      },
                      "value": {
                        "type": "string",
                        "description": "Contact information value (e.g., email address, phone number)",
                        "example": "test@example.com"
                      },
                      "is_verified": {
                        "type": "boolean",
                        "description": "Whether the contact information has been verified"
                      }
                    },
                    "required": ["type", "value"]
                  }
                }
              },
              "required": [
                "provider",
                "value",
                "is_verified",
                "contact_informations"
              ]
            }
          }
        }
      },
      "PostCreateUserResponseItem": {
        "$ref": "#/components/schemas/GetUsersResponseItem"
      },
      "GetUserDetailsResponseItem": {
        "$ref": "#/components/schemas/GetUsersResponseItem"
      },
      "DeleteUserResponseItem": {
        "type": "object",
        "required": ["message"],
        "properties": {
          "message": {
            "type": "string",
            "description": "Success response message",
            "example": "user successfully deleted"
          }
        }
      },
      "PostBanUserResponseItem": {
        "$ref": "#/components/schemas/GetUsersResponseItem"
      },
      "PostUnbanUserResponseItem": {
        "$ref": "#/components/schemas/GetUsersResponseItem"
      }
    },
    "responses": {
      "BadRequestErrorResponse": {
        "description": "Bad request error response",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                { "$ref": "#/components/schemas/ApiResponseWrapper" },
                {
                  "type": "object",
                  "properties": {
                    "data": { "type": "null" },
                    "status": { "example": 400 },
                    "error": {
                      "example": {
                        "url": "https://docs.cakeauth.com/docs/references/errors#bad_request",
                        "code": "bad_request",
                        "message": "Invalid payload"
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "UnauthorizedErrorResponse": {
        "description": "Unauthorized response",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                { "$ref": "#/components/schemas/ApiResponseWrapper" },
                {
                  "type": "object",
                  "properties": {
                    "data": { "type": "null" },
                    "status": { "example": 401 },
                    "error": {
                      "example": {
                        "url": "https://docs.cakeauth.com/docs/references/errors#unauthorized",
                        "code": "unauthorized",
                        "message": "Unauthorized"
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "ErrorResponse": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                { "$ref": "#/components/schemas/ApiResponseWrapper" },
                {
                  "type": "object",
                  "properties": {
                    "data": { "type": "null" },
                    "status": { "example": 500 },
                    "error": {
                      "example": {
                        "url": "https://docs.cakeauth.com/docs/references/errors#internal_server_error",
                        "code": "internal_server_error",
                        "message": "Internal server error"
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "securitySchemes": {
      "PrivateKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Your private key"
      }
    }
  }
}
